apiVersion: v1
kind: ResourceQuota
metadata:
  labels:
    {{- include "skyhook-agent.labels" . | nindent 4 }}
  name: {{ include "skyhook-agent.fullname" . }}-critical-pods
  {{- if hasKey .Release "Namespace" }}
  namespace: {{ .Release.Namespace }}
  {{- end}}
spec:
  hard:
    pods: 2
  scopeSelector:
    matchExpressions:
      - operator: In
        scopeName: PriorityClass
        values:
          - system-cluster-critical